@model IEnumerable<Company.Models.Project>
@{
    ViewData["Title"] = "Projects Page";  
    Layout="_Layout"; 
}
<table class="table table-sm table-striped">
    <thead>
        <tr><th>ID</th><th>Name</th><th>Description</th><th>Date of adoption</th><th>Deadline</th><th>Budjet</th></tr>
    </thead>
    <tbody>
        @foreach (var p in Model) {
            <tr>
                <td>@p.ProjectID</td>
                <td>@p.ProjectName</td>
                <td>@p.Description</td>
                <td>@p.DateOfAdoption</td>
                <td>@p.Deadline</td>
                <td>@p.Budjet</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-id="@p.ProjectID">
                            Edit
                        </a>
                        <input type="hidden" name="id" value="@p.ProjectID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create New Project</a>
<a asp-controller="ProjectEmployee" asp-action="Index" class="btn btn-primary">Assign employee</a>