@model  IEnumerable<Employee>
@{
    ViewData["Title"]="WorkTime";
    Layout="_Layout";
}
<form asp-action="NewMonth" method="post">

    @foreach(Employee e in Model)
    {    
        <h4 class="bg-info text-center text-white p-1">
            @e.FirstName @e.LastName        
        </h4>
        <div class="container-fluid">
            @if(e.WorkTimes!=null)
            {
                @foreach (WorkTime p in e.WorkTimes)
                {
                    <div class="row">
                        <input type="hidden" name="p.Id" value="@p.Id" />
                        <div class="col">
                            <input name="p.numMonth" value="@p.numMonth" class="form-control" />
                        </div>
                        <div class="col">
                            <input name="p.hours" value="@p.hours" class="form-control" />
                        </div>
                        <div class="col">
                            <input name="p.lastRate" value="@p.lastRate" class="form-control" />
                        </div>
                        <div class="col">
                            <input name="p.EmployeeId" value="@p.EmployeeId" class="form-control" />
                        </div>                
                    </div>
                
                }
            }
            else
            {
                
                
            }                        
        </div>
    }
    <div class="text-center m-2">
        <button type="submit" class="btn btn-primary">Save All</button>
        <a asp-action="Index" class="btn btn-outline-primary">Cancel</a>
    </div>
</form>